 * {
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 .symbol {
     height: 50px;
     width: 50px;

     background-color: rgb(250, 209, 106);
     border: 2px solid black;
     border-radius: 50px;

     font-weight: bolder;
     font-size: x-large;

     display: flex;
     justify-content: center;
     align-items: center;
 }

 .logo {
     display: flex;
     margin: 5px;
 }

 .logotext {
     margin: 2px;
 }

 .wordmark {
     margin-top: 10px;
     font-size: medium;
     font-weight: bolder;
 }

 .byline {
     font-size: x-small;
     font-weight: 550;
     opacity: 0.7;
 }

 ul {
     width: 25%;
     list-style: none;
     display: flex;
     justify-content: space-around;
     padding: 20px;
 }

 a {
     text-decoration: none;
     color: black;
 }

 .download {
     border: 2px solid black;
     padding: 2px 4px;
     font-size: small;
 }

 nav {
     width: 100vw;
     display: flex;
     justify-content: space-between;
 }

 main {
     text-align: center;
     width: 100%;
     padding: 5% 100px;
 }

 .heading {
     font-size: xxx-large;
     padding: 2%;
 }

 .para {
     font-size: larger;
     padding: 1%;
     margin-bottom: 40px;
 }

 .options {
     padding: 5%;
     text-wrap: nowrap;
 }

 img {
     height: 40px;
 }

 .button {
     padding: 1%;
     color: white;
     background-color: rgb(43, 167, 209);
 }

 .line {
     margin-top: 100px;
     margin-left: 110px;
     display: flex;
 }

 .line1 {
     margin: 10px;
     font-size: x-large;
     font-weight: 200;
 }

 .line2 {
     margin: 20px;
     font-size: small;
 }