* {
  margin: 0;
  padding: 0;
}

body {
  background: url("img_bg.png") no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  color: #00ff41;
  text-shadow: 0 0 10px #00ff41;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content1{
  font-size: smaller;
  padding: 20px;
  width: 40%;
}
.content2{
  padding: 20px;
  width: 60%;
}
.txt {
  font-size: xx-large;
}

h3{
  color: red;
}