* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.4px;
}

ul {
    list-style: none;
}

.download {
    width: 110px;
    height: 30px;
    padding: 4px;
    border: 2px solid black;
    font-weight: bolder;
    font-size: medium;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    margin: 22px 73px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.middle ul {
    margin-top: 30px;
    display: flex;
    gap: 33px;
}

.middle ul li {
    list-style: none;
    font-size: medium;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

nav .right {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: center ;
    align-items: center;
}

main {
    position: relative;
    top: 20px;
    text-align: center;
    width: 60%;
    padding: 0px 300px;
}

.heading {
    font-size: xxx-large;
    display: flex;
    font-weight: 400;
}

b {
    font-weight: bold;
}

.para {
    position: relative;
    bottom: 20px;
    font-size: x-large;
    padding: 1%;
    margin-bottom: 20px;
    letter-spacing: 1px;
    padding: 0px 0px;
}

main p img {
    margin-left: 10px;
    width: 120px;
    height: 40px;
    position: relative;
    top: 20px;
    border-radius: 5px;
}

.download_button {
    padding: 15px;
    background-color: #28b1d7;
    color: white;
    font-size: small;
    font-weight: bolder;
}

.line {
    position: relative;
    right: 125px;
    bottom: 30px;
    margin: 100px 0px 0px 110px;
    display: flex;
    justify-content: flex-start;
}

.line img {
    height: 85px;
}

.line1 {
    padding: 10px 0px 0px 0px;
    font-size: x-large;
    font-weight: 300;
}

.line2 {
    padding: 25px 0px 0px 0px;
    font-size: small;
    font-weight: 300;
}

.container {
    position: relative;
    right: 125px;
    bottom: 100px;
    margin-top: 100px;
    margin-left: 110px;
}

.item {
    background-color: rgb(249, 249, 247);
    height: 200px;
    width: 300px;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.l {
    font-weight: lighter;
    padding: 0px 0px 10px 0px;
}

.gbutton {
    background-color: #2bc75f;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.l1 {
    font-weight: lighter;
    font-size: small;
}

.l2 {
    font-weight: lighter;
    font-size: xx-small;
}

.l3 {
    font-weight: lighter;
    font-size: xx-small;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.blackbox {
    width: 100%;
    max-width: 100%;
    height: 700px;
    box-sizing: border-box;
    background-color: rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.left {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.5px;
    margin: 50px 80px 0px 0px;
}

.content {
    position: relative;
    bottom: 40px;
    display: flex;
}

.one {
    font-size: x-large;
    font-weight: bolder;
    padding: 1px;
}

.blackbox .right {
    margin: 0px 0px 0px 50px;
    padding-bottom: 30px;
    height: 250px;
    width: 350px;
    border-radius: 15px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.right h2 {
    font-size: 24px;
    color: #09bfdb;
    font-weight: 400;
}

.right h3 {
    font-size: medium;
    font-weight: 350;
}

.signupbox {
    box-sizing: border-box;
    width: 80%;
    padding: 13px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #09bfdb;
    box-shadow: 0px 4px 8px #a1f0fc;

}

.emailbox {
    position: relative;
    bottom: 10px;
    width: 80%;
    height: 20%;
    border: 1px solid rgb(235, 230, 230);
}

.bottom {
    position: relative;
    top: 50px;
    color: white;
}

.aboutu{
    background-color: #f9f9f9;
    font-size: small;
    display: flex;
    justify-content: space-around;
    padding: 50px 150px 20px 150px;
}
input{
    border-radius: 5px;
    width: 90%;
    padding: 6px;
    margin-bottom: 10px;
    border: rgb(131, 126, 126);
}
.subscribe{
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #09bfdb;
}

footer .footer_left{
    display: flex;
    flex-direction: column;
}
footer .footer_left p{
    font-size: small;
}

footer .footer_right{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
footer .footer_right a{
    color: black;
}
footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}