/* .button{
  background-color: hsl(199, 90%, 50%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;

} */


/*EXTERNAL CSS styling is great for global styles or small projects */